include LICENSE
include README.md
include DOCUMENTATION.md
recursive-include data_dictionary_web/static *
recursive-include data_dictionary_web/templates *
recursive-include data_dictionary_web/exporters *
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.db
global-exclude .env
